*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


  body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
  }

  .container{
    max-width: 350px;
    margin: 0 auto; /* To make container center */
  }

  .card{
    margin: 2rem 1rem;
    padding: 20px;
    background-color:hsl(216, 50%, 16%);
    border-radius: 15px;
  }

  .img-top{
    border-radius: 12px;
    overflow: hidden; /* To apply the border radius to img*/
    position: relative;
  }
  
  .img-top img{
    width: 100%;
    border-radius: 12px;
    display: block; /* Because img is an inline element*/
  }

  .img-overlay{
    position: absolute; /* To make that color on image while hovering on it */
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(178, 100%, 50%, 0.5); /* To lower the opacity */
    display: none; /* To hide it */
  }

  .img-overlay img{
    position: absolute; /* to position the image icon*/
    width: 50px;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
  }

  .img-top:hover .img-overlay{
    display: block; /* To apply icon & blue color on hovering */
    cursor: pointer;
  }
  
  .box-text a{
    font-weight: 600;
    color: white;
    font-weight: 600;
    font-size: 21px;
    padding: 20px 0;
    display: inline-block; /* To apply the padding because anchor tag is by default and inline element*/
    text-decoration: none;
  }

  .box-text a:hover{
    color: hsla(178, 100%, 50%);
  }

  p{
    color: hsl(215, 51%, 70%);
  }
  
  .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  .eth, .days{
    display: flex;
    align-items: center;
  }

  .eth p{
    color: hsla(178, 100%, 50%);
    font-weight: 600;
    padding-left: 7px;
  }

  .days p{
    padding-left: 7px;
  }
  
  hr{
    border-color: hsl(215, 32%, 27%);
  }
  
  .author{
    display: flex;
    align-items: center;
    padding-top: 10px;
  }

  .author img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 15px;
    object-fit: cover;
  }

  .author p .name{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
  }
  
  .author p .name:hover{
    color: hsla(178, 100%, 50%);
  }
  

  

  